@import '../../common/variables.less';
@import 'mediawiki.mixins.less';

// Extends the common MenuDropdown, but allows it to be opened via hover.

.vector-menu-dropdown:not( .vector-user-menu ) {
	&:hover .vector-menu-content {
		opacity: 1;
		visibility: visible;
	}
}

.vector-menu-checkbox {
	&:checked + .vector-menu-heading:after {
		transform: scaleY( -1 );
	}
}

.vector-menu-dropdown {
	li {
		a {
			// Historic value.
			padding: unit( ( 8.125px / @font-size-browser ), em );
		}
	}
}

.vector-menu-dropdown .vector-menu-heading {
	background-image: linear-gradient( to bottom, rgba( 167, 215, 249, 0 ) 0, @border-color-content 100% );
	background-repeat: no-repeat;
	// Contain gradient to 1px × 100% size and draw from top to bottom-left or -right corner.
	background-size: @border-width-base 100%;
	background-position: right bottom;
	height: 100%;
}
