<div class="vector-client-preferences vector-pinnable-element">
    <div class="vector-pinnable-header">{{msg-vector-client-preferences}}</div>
    <div id="vector-client-prefs" class="vector-pinnable-element"></div>
</div>