<div class="vector-column-end">
	<nav class="vector-page-tools-landmark" aria-label="{{msg-tooltip-p-cactions}}">
		{{#data-page-tools}}
		{{>PinnedContainer/Open}}
			{{#is-pinned}}{{>PageTools}}{{/is-pinned}}
		{{>PinnedContainer/Close}}
		{{/data-page-tools}}
	</nav>
</div>
