<div class="vector-column-end">
	<nav id="vector-page-tools-pinned-container" class="vector-page-tools-landmark" aria-label="{{msg-tooltip-p-cactions}}">
		{{#data-page-tools}}{{>PinnableDropdownContents}}{{/data-page-tools}}
	</nav>
</div>
