{{!-
    Content Header - Main <H1> title for all pages, with either the indicators or language selector.
    When language button is visible, indicators are placed in the ContentSubheader.mustache template instead.
}}
<header class="mw-body-header">
    {{#is-language-in-content-top}}
        {{#data-portlets.data-languages}}
            {{>Menu}}
        {{/data-portlets.data-languages}}
    {{/is-language-in-content-top}}

    {{^is-language-in-content-top}}
        {{>Indicators}}
    {{/is-language-in-content-top}}

    {{{html-title-heading}}}
</header>