<header class="mw-header">
	<label
		id="mw-sidebar-button"
		class="mw-checkbox-hack-button mw-ui-icon mw-ui-icon-element"
		for="mw-sidebar-checkbox"
		role="button"
		aria-controls="mw-panel"
		data-event-name="ui.sidebar"
		tabindex="0">
		{{msg-vector-action-toggle-sidebar}}
	</label>
	{{>Logo}}
	{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
	{{^is-consolidated-user-links}}
		{{#data-portlets}}
			{{#data-personal}}{{>Menu}}{{/data-personal}}
		{{/data-portlets}}
	{{/is-consolidated-user-links}}
	{{#is-consolidated-user-links}}
		{{#data-portlets}}
			{{#data-notifications}}{{>Menu}}{{/data-notifications}}
		{{/data-portlets}}
		{{#data-portlets}}
			{{#data-user-page}}{{>Menu}}{{/data-user-page}}
		{{/data-portlets}}
		{{#data-portlets}}
			{{#data-user-menu}}{{>Menu}}{{/data-user-menu}}
		{{/data-portlets}}
	{{/is-consolidated-user-links}}
</header>
