{{! Use `.vector-main-menu.vector-dropdown` to target styles at this element}}
{{#data-main-menu-dropdown}}{{>Dropdown/Open}}{{/data-main-menu-dropdown}}
	{{#data-portlets-main-menu}}{{>MainMenuContents}}{{/data-portlets-main-menu}}
{{#data-main-menu-dropdown}}{{>Dropdown/Close}}{{/data-main-menu-dropdown}}
