{{!
	@see MenuDefinition
}}

<div id="{{id}}" role="navigation" class="{{class}}" aria-labelledby="{{label-id}}">
	<h3 id="{{label-id}}">{{label}}</h3>
	<ul {{{html-userlangattributes}}}>
		{{{html-items}}}
	</ul>
</div>
