{{!
  string html-navigation-heading heading for entire navigation that is
    usually hidden to screen readers
  string html-personal-menu content that appears as the first child of mw-head
  string html-navigation-left-tabs that appears inside #left-navigation (namespaces and variants)
  string html-navigation-right-tabs that appears inside #right-navigation (page actions and search)
  string html-sidebar sidebar HTML
}}
<div id="mw-navigation">
    <h2>{{{html-navigation-heading}}}</h2>
    <div id="mw-head">
        {{#data-personal-menu}}
        {{>PersonalMenu}}
        {{/data-personal-menu}}
        <div id="left-navigation">
            {{#data-namespace-tabs}}
            {{>VectorTabs}}
            {{/data-namespace-tabs}}
            {{#data-variants}}
            {{>VectorMenu}}
            {{/data-variants}}
        </div>
        <div id="right-navigation">
            {{#data-page-actions}}
            {{>VectorTabs}}
            {{/data-page-actions}}
            {{#data-page-actions-more}}
            {{>VectorMenu}}
            {{/data-page-actions-more}}
            {{#data-search-box}}
            {{>SearchBox}}
            {{/data-search-box}}
        </div>
    </div>
    {{#data-sidebar}}
    {{>Sidebar}}
    {{/data-sidebar}}
</div>
