{{{html-title-heading}}}
{{#has-buttons-in-content-top}}
	{{#data-lang-dropdown}}
		{{>LanguageDropdown}}
	{{/data-lang-dropdown}}
	{{#data-add-topic-button}}
		{{>Button}}
	{{/data-add-topic-button}}
{{/has-buttons-in-content-top}}
{{^has-buttons-in-content-top}}
	{{>Indicators}}
{{/has-buttons-in-content-top}}