<div class="vector-article-toolbar vector-page-toolbar">
	<div class="mw-article-toolbar-container vector-page-toolbar-container">
		{{#data-portlets}}
		<div id="left-navigation">
			<nav aria-label="{{msg-namespaces}}">
				{{#data-associated-pages}}{{>Menu}}{{/data-associated-pages}}
				{{#data-variants}}{{>Menu}}{{/data-variants}}
			</nav>
		</div>
		<div id="right-navigation" class="vector-collapsible">
			{{#data-views}}
			<nav aria-label="{{msg-views}}">
				{{>Menu}}
			</nav>
			{{/data-views}}

			{{#data-actions}}
			<nav aria-label="{{msg-tooltip-p-cactions}}">
				{{>Menu}}
			</nav>
			{{/data-actions}}
		</div>
		{{/data-portlets}}
	</div>
</div>
