<div class="vector-page-toolbar">
	<div class="vector-page-toolbar-container">
		{{#data-portlets}}
		<div id="left-navigation">
			<nav aria-label="{{msg-namespaces}}">
				{{#data-associated-pages}}{{>Tabs}}{{/data-associated-pages}}
				{{#data-variants}}{{>VariantsDropdown}}{{/data-variants}}
			</nav>
		</div>
		<div id="right-navigation" class="vector-collapsible">
			<nav aria-label="{{msg-views}}">
				{{#data-views}}{{>Tabs}}{{/data-views}}
			</nav>

			<nav class="vector-page-tools-landmark" aria-label="{{msg-tooltip-p-cactions}}">
				{{#is-page-tools-enabled}}{{#data-page-tools}}
				{{>Dropdown/Open}}
					{{>UnpinnedContainer/Open}}
						{{^is-pinned}}{{>PageTools}}{{/is-pinned}}
					{{>UnpinnedContainer/Close}}
				{{>Dropdown/Close}}
				{{/data-page-tools}}{{/is-page-tools-enabled}}
				{{^is-page-tools-enabled}}{{#data-actions}}{{>LegacyMoreMenu}}{{/data-actions}}{{/is-page-tools-enabled}}
			</nav>
		</div>
		{{/data-portlets}}
	</div>
</div>
