{{!-
	Page titlebar - Main <H1> title for all pages, with either the indicators or language selector.
	When language button is visible, indicators are placed in the BeforeContent.mustache template instead.
}}
<header class="mw-body-header vector-page-titlebar{{#is-title-blank}} vector-page-titlebar-blank{{/is-title-blank}}">
	{{! Checkbox hack used by collapsed TOC on narrow viewports for no JS users }}
	<label
		id="vector-toc-collapsed-button"
		class="mw-ui-button mw-ui-quiet mw-ui-icon mw-ui-icon-flush-left mw-ui-icon-element mw-ui-icon-wikimedia-listBullet mw-checkbox-hack-button"
		for="vector-toc-collapsed-checkbox"
		role="button"
		aria-controls="toc-toggle-list"
		data-event-name="vector.toc-toggle-list"
		tabindex="0"
		title="{{msg-vector-toc-menu-tooltip}}">
		{{msg-vector-toc-collapsible-button-label}}
	</label>

	{{! TOC is moved into this dropdown from the sidebar in stickyHeader.js. }}
	{{#data-page-titlebar-toc-dropdown}}
	{{>Dropdown/Open}}
		{{#data-page-titlebar-pinnable-container}}
		{{>PinnableContainer/Unpinned/Open}}
		{{>PinnableContainer/Close}}
		{{/data-page-titlebar-pinnable-container}}
	{{>Dropdown/Close}}
	{{/data-page-titlebar-toc-dropdown}}

	{{{html-title-heading}}}

	{{#is-language-in-content-top}}
		{{#data-lang-btn}}
			{{>LanguageDropdown}}
		{{/data-lang-btn}}
	{{/is-language-in-content-top}}

	{{^is-language-in-content-top}}
		{{>Indicators}}
	{{/is-language-in-content-top}}
</header>
