{{!
	string portal-id
	string html-tooltip
	string msg-label-id
	string|null html-userlangattributes
	string msg-label}
	string html-portal-content
	string|null html-after-portal
}}

<div class="portal" role="navigation" id="{{portal-id}}" {{{html-tooltip}}} aria-labelledby="{{msg-label-id}}">
	<h3 {{{html-userlangattributes}}} id="{{msg-label-id}}">
		{{msg-label}}
	</h3>
	<div class="body">
		{{{html-portal-content}}}
		{{{html-after-portal}}}
	</div>
</div>
