{{!
	string html-logo-attributes for site logo. Must be used inside tag e.g. `class="logo" lang="en-gb"`
	array array-portals contains options for Portal template
}}

<div id="mw-panel">
	<div id="p-logo" role="banner">
		<a {{{html-logo-attributes}}}></a>
	</div>
	{{#array-portals-first}}
	{{>Portal}}
	{{/array-portals-first}}
	{{#array-portals-rest}}
	{{>Portal}}
	{{/array-portals-rest}}
</div>
