{{!
	string|null html-site-notice the contents of a banner defined in MediaWiki:Sitenotice.
		Also used by CentralNotice to inject banners into Vector.
	Indicator[] array-indicators wiki-defined badges such as "good article",
		"featured article". An empty array if none are defined.
	string html-title
	bool is-article
	string msg-tagline
	string html-subtitle
	string html-undelete-link
	string html-newtalk
	string msg-vector-jumptonavigation
	string msg-vector-jumptosearch
	string msg-vector-jumptocontent
	string html-body-content
	string html-categories
	string html-after-content
	LogoOptions data-logos
	object data-portlets
	MenuDefinition data-portlets.data-personal
	MenuDefinition data-portlets.data-namespaces
	MenuDefinition data-portlets.data-variants
	MenuDefinition data-portlets.data-views
	MenuDefinition data-portlets.data-actions
	object data-search-box. See SearchBox.mustache for documentation.
	boolean sidebar-visible For users that want to see the sidebar on initial render, this should be
	  true.
	string msg-vector-action-toggle-sidebar The label used by the sidebar button.
	string msg-vector-main-menu-tooltip The title attribute for the main menu icon.
	object data-portlets-sidebar. See Sidebar.mustache for documentation.
	object data-footer for footer template partial. see Footer.mustache for documentation.
}}
<div class="mw-page-container {{vector-layout-class}}">
	<span id="top-page"></span>
	<a class="mw-jump-link" href="#content">{{msg-vector-jumptocontent}}</a>
	<div class="mw-page-container-inner {{#data-toc}} vector-toc-visible{{/data-toc}}">

<input
	type="checkbox"
	id="mw-sidebar-checkbox"
	class="mw-checkbox-hack-checkbox"
	{{#sidebar-visible}}checked{{/sidebar-visible}}>

{{>Header}}

<div class="mw-workspace-container vector-sidebar-container {{^data-toc}}vector-sidebar-container-no-toc{{/data-toc}}">
	{{#data-toc}}
	<input type="checkbox" id="vector-toc-collapsed-checkbox" class="mw-checkbox-hack-checkbox">
	{{/data-toc}}
	<div id="mw-navigation">
		{{^is-title-above-tabs}}
			{{>ArticleToolbar}}
		{{/is-title-above-tabs}}
		{{#data-portlets-sidebar}}{{>Sidebar}}{{/data-portlets-sidebar}}
	</div>

	{{>TableOfContentsContainer}}
{{#is-vector-grid}}</div>{{/is-vector-grid}} <!-- close .vector-sidebar-container -->
	<div class="mw-content-container">
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<main id="content" class="mw-body" role="main">
	<a id="top"></a>
	<div id="siteNotice">{{{html-site-notice}}}</div>

	{{>ContentHeader}}

	{{#is-title-above-tabs}}
		{{>ArticleToolbar}}
	{{/is-title-above-tabs}}

	<div id="bodyContent" class="vector-body" data-mw-ve-target-container>
		{{>ContentSubheader}}
		<div id="contentSub"{{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
		<div id="contentSub2">{{{html-undelete-link}}}</div>
		{{{html-user-message}}}
		{{{html-body-content}}}
		{{{html-categories}}}
	</div>

	{{#is-language-in-content-bottom}}
	{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
	{{/is-language-in-content-bottom}}

</main>
{{{html-after-content}}}
	</div> {{! END mw-content-container }}
{{^is-vector-grid}}</div>{{/is-vector-grid}} <!-- close .vector-sidebar-container -->

<div class="mw-workspace-container mw-footer-container">
	<div class="mw-content-container">
		{{#data-footer}}{{>Footer}}{{/data-footer}}
	</div>
</div>
	</div> {{! END mw-page-container-inner }}
</div> {{! END mw-page-container }}
{{#data-vector-sticky-header}}{{>StickyHeader}}{{/data-vector-sticky-header}}
