<div class="mw-table-of-contents-container">
	{{! T313060 Additional container div needed to prevent the sticky element from being siblings with the footer }}
	{{#data-toc}}
	{{>PinnableContainer/Pinned/Open}}
		{{#is-pinned}}{{>TableOfContents}}{{/is-pinned}}
	{{>PinnableContainer/Close}}
	{{/data-toc}}
</div>
