{{#data-toc}}
<input
	type="checkbox"
	id="vector-toc-collapsed-checkbox"
	class="mw-checkbox-hack-checkbox">
{{/data-toc}}
<div class="mw-table-of-contents-container mw-sticky-header-element">
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
</div>
