{{! Grid element, spans full height }}
<div class="mw-table-of-contents-container">
	{{! Sticky element, aligned with top of viewport }}
	<div class="sticky-toc-container mw-sticky-header-element">
		{{! TOC element, applies additional margins for spacing }}
		{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
	</div>
</div>
