{{#data-account-links}}{{>MenuContents}}{{/data-account-links}}
{{#data-anon-editor}}
<div class="vector-user-menu-anon-editor">
	<p>
		{{{msgLearnMore}}} {{#data-link-learn-more}}{{>IconLink}}{{/data-link-learn-more}}
	</p>
</div>
{{/data-anon-editor}}
