<nav class="vector-user-links{{#is-wide}} vector-user-links-wide{{/is-wide}}" aria-label="{{msg-personaltools}}" role="navigation" >
	<div class="vector-user-links-main">
	{{#data-user-links-preferences}}{{>Menu}}{{/data-user-links-preferences}}
	{{#data-user-links-user-page}}{{>Menu}}{{/data-user-links-user-page}}
	{{#data-user-links-client-prefs}}{{>ClientPreferencesDropdown}}{{/data-user-links-client-prefs}}
	{{#data-user-links-notifications}}{{>Menu}}{{/data-user-links-notifications}}
	{{#data-user-links-overflow}}{{>Menu}}{{/data-user-links-overflow}}
	</div>
	{{>UserLinksDropdown}}
</nav>
