{{#data-user-interface-preferences}}{{{html-items}}}{{/data-user-interface-preferences}}
{{#is-anon}}
	<li id="p-createaccount" class="user-links-collapsible-item">
		{{{html-create-account}}}
	</li>
{{/is-anon}}
{{^is-anon}}
	{{#data-user-page}}{{{html-items}}}{{/data-user-page}}
	{{#data-notifications}}{{{html-items}}}{{/data-notifications}}
{{/is-anon}}
