{{#data-user-links-dropdown}}{{>Dropdown/Open}}{{/data-user-links-dropdown}}
	{{#is-anon}}
	{{#is-temp-user}}
	{{>UserLinks__templogin}}
	{{/is-temp-user}}
	{{^is-temp-user}}
	{{>UserLinks__login}}
	{{/is-temp-user}}
	{{/is-anon}}
	{{#data-dropdown-menu}}{{>MenuContents}}{{/data-dropdown-menu}}
	{{^is-anon}}
	{{!-- The #pt-logout ID is required for the AJAX enabled logout in mediawiki.page.ready to work.}}
	{{#data-account-links}}{{>MenuContents}}{{/data-account-links}}
	{{/is-anon}}
{{#data-user-links-dropdown}}{{>Dropdown/Close}}{{/data-user-links-dropdown}}
