{{!
	See @typedef UserMenuDefinition
	UserMenu is a copy of Menu and needs to be kept in sync
}}
{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<nav id="{{id}}" {{#class}}class="{{.}}"{{/class}} aria-labelledby="{{id}}-label" role="navigation" {{{html-tooltip}}}
	 {{{html-user-language-attributes}}}>
	<input type="checkbox" class="vector-menu-checkbox" aria-labelledby="{{id}}-label" />
	<h3 id="{{id}}-label" {{#heading-class}}class="{{.}}"{{/heading-class}}>
		<span>{{label}}</span>
	</h3>
	<div class="vector-menu-content">
		{{#is-anon}}
			{{#data-userlinks}}
				<div class="vector-user-menu-login">{{{html-login}}}</div>
				<div class="vector-user-menu-anon-editor">
					<p>
						{{msg-vector-anon-user-menu-pages}} {{{html-vector-anon-user-menu-pages-learn}}}:
					</p>
				</div>
			{{/data-userlinks}}
		{{/is-anon}}
		<ul class="vector-menu-content-list">
			{{{html-items}}}
		</ul>
		{{{html-after-portal}}}
	</div>
</nav>
