<div class="vector-user-links">
	{{#is-anon}}
		<div id="p-createaccount">
			{{#data-userlinks}}{{{html-create-account}}}{{/data-userlinks}}
		</div>
	{{/is-anon}}
	{{^is-anon}}
		{{#data-notifications}}{{>Menu}}{{/data-notifications}}
		{{#data-user-page}}{{>Menu}}{{/data-user-page}}
	{{/is-anon}}
	{{#data-user-menu}}{{>UserMenu}}{{/data-user-menu}}
</div>
