{{!
	See @typedef MenuDefinition
}}
<div id="{{id}}" role="navigation" class="{{class}}" aria-labelledby="{{label-id}}">
	<input type="checkbox" class="vectorMenuCheckbox" aria-labelledby="{{label-id}}" />
	<h3 id="{{label-id}}">
		<span>{{label}}</span>
	</h3>
	<ul class="menu" {{{html-userlangattributes}}}>
		{{{html-items}}}
	</ul>
</div>
