<div id="{{tabs-id}}" role="navigation" class="vectorTabs {{empty-portlet}}" aria-labelledby="{{label-id}}">
	<h3 id="{{label-id}}">{{msg-label}}</h3>
	<ul {{{html-userlangattributes}}}>
		{{{html-items}}}
	</ul>
</div>
