@import '../../common/variables.less';
@import '../../common/mixins.less';
@import 'mediawiki.mixins.less';

/**
 * Targets all dropdown labels.
 * - language variants, Actions menus
 * - more menu, user menu
 * - ULS button in sticky header
 * FIXME: Drop .vector-menu-dropdown selector when cache clears.
 */
.vector-dropdown > .vector-menu-heading,
.vector-menu-dropdown > .vector-menu-heading {
	display: flex;

	&:after {
		.mixin-vector-menu-heading-arrow();
	}
}

/**
 * Dropdown container
 * FIXME: Drop .vector-menu-dropdown selector when cache clears.
 */
.vector-dropdown,
.vector-menu-dropdown {
	> .vector-menu-content {
		background-color: @background-color-base;
		border: @border-width-base @border-style-base @border-color-base;
		box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
		transition-property: opacity;
		transition-duration: @transition-duration-base;
	}
}

/**
 * Dropdown menu items.
 * FIXME: Drop .vector-menu-dropdown selector when cache clears.
 * TODO: Can any of these unique classes be converted to use .mw-list-item instead?
 */
.vector-dropdown .mw-list-item,
.vector-menu-dropdown > .vector-menu-content .mw-list-item {
	a {
		.mixin-vector-dropdown-menu-item();
		white-space: nowrap;
		color: @color-link;
	}
}
