// Ensure there is only 1 page tools landmark at anytime
.vector-page-tools-landmark {
	.vector-page-tools-pinned #right-navigation &,
	.vector-page-tools-unpinned .vector-column-end & {
		display: none;
	}

	.vector-pinnable-header {
		padding: @padding-vertical-tabs;
	}
}

/**
 * Styles applying to all items in the pinned column.
 */
.vector-column-end {
	.vector-dropdown-content {
		padding-left: 45px;
		width: 140px;
	}

	// Make the heading border line up with the edge of the text
	// (Whereas in a dropdown, the border lines up with the edge of the dropdown container).
	.vector-menu-heading,
	.mw-list-item a {
		padding-left: 0;
		padding-right: 0;
	}
}
