@import '../../common/variables.less';

.mw-table-of-contents-container {
	// Needed for Grid-based layout
	align-self: start;
	height: 100%;
}

#vector-toc-pinned-container {
	// stylelint-disable-next-line plugin/no-unsupported-browser-features
	position: sticky;
	top: 0;

	@media ( min-width: @min-width-desktop ) {
		.vector-toc-pinned & {
			// Default spacing separating the sidebar TOC from the main menu or viewport.
			// Need to use padding in order for the spacing to apply when sticky
			padding-top: 1.5em;
		}

		.vector-feature-page-tools-disabled.vector-toc-pinned @{selector-main-menu-closed} ~ .mw-table-of-contents-container & {
			// Needed to align TOC with bottom of title, 1.5em padding + 1.5em margin = 3em
			margin-top: 1.5em;
		}

		.vector-feature-page-tools-enabled.vector-toc-pinned.vector-feature-main-menu-pinned-disabled & {
			// Align TOC with bottom of title when main menu is not pinned but the TOC is
			margin-top: @margin-top-pinned-toc;
		}

		// FIXME: Remove all .sidebar-toc selectors after I5b9228380f5c4674ef424d33127a5cb4010822da is in prod for 5 days
		.sidebar-toc,
		.sidebar-toc:after,
		.vector-toc,
		.vector-toc:after {
			.vector-feature-page-tools-disabled & {
				// Align the left edge of the TOC text with the main menu button icon.
				margin-left: -@padding-left-toc;
			}

			.vector-feature-page-tools-enabled & {
				// Align the left edge of the TOC text with the page container
				margin-left: -@spacing-subsection-toggle;
				padding: 0 @padding-horizontal-dropdown-menu-item 0 @spacing-subsection-toggle;
				// Ensure TOC takes up full width of its container factoring in the negative left margin
				width: ~'calc( 100% + @{spacing-subsection-toggle} )';
			}
		}

		// T302076: Add fade scrollable indicator when TOC is in sidebar
		// Avoid showing indicator when the TOC is floating, or collapsed in the page title/sticky header
		// FIXME: Remove all .sidebar-toc selectors after I5b9228380f5c4674ef424d33127a5cb4010822da is in prod for 5 days
		.vector-toc-pinned & .vector-toc:after,
		.vector-toc-pinned & .sidebar-toc:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: @height-toc-scroll-indicator;
			background: linear-gradient( rgba( 255, 255, 255, 0 ), @background-color-page-container );
			background-repeat: no-repeat;
			background-position: -@padding-right-toc; // T311436 Hacky way to prevent the fade from covering the scrollbar
			pointer-events: none; // Make the link below the fade clickable
		}
	}
}
