@import '../variables.less';

.oo-ui-windowManager-modal,
.skin-vector .ve-ui-overlay-global {
	z-index: 101;
	position: relative;
}

.oo-ui-defaultOverlay {
	z-index: 101;
	font-size: @content-font-size;
}
