.vector-header-container {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: @background-color-page-container;
	border-bottom: @border-width-base @border-style-base @colorGray14;

	.mw-header,
	.vector-sticky-header {
		.mixin-page-container();
	}
}

&.vector-feature-limited-width-disabled .vector-header-container .mw-header,
&.vector-feature-limited-width-disabled .vector-header-container .vector-sticky-header {
	max-width: none;
}
