{{!
	See @typedef SidebarData
}}

<div id="mw-panel">
	<div id="p-logo" role="banner">
		<a class="mw-wiki-logo" href="{{link-mainpage}}"
			title="{{msg-tooltip-p-logo}}"></a>
	</div>
	{{#data-portlets-first}}{{>legacy/Menu}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>legacy/Menu}}{{/array-portlets-rest}}
	{{#data-portlets.data-languages}}{{>legacy/Menu}}{{/data-portlets.data-languages}}
</div>
