/**
 * Less mixins shared between both legacy and Vector 2022.
 */

// Defines the arrow beside dropdown headings.
.mixin-vector-legacy-menu-heading-arrow {
	content: '';
	background: url( ../common/images/arrow-down.svg ) 100% 50% no-repeat;
	width: unit( 16 / @font-size-tabs / @font-size-browser, em );
	height: unit( 16 / @font-size-tabs / @font-size-browser, em );
}

.mixin-vector-menu-heading-arrow() {
	content: '';
	background: url( ../common/images/arrow-down.svg ) 100% 50% no-repeat;
	width: unit( 16 / @font-size-tabs / @font-size-browser, em );
	height: unit( 16 / @font-size-tabs / @font-size-browser, em );
	// https://phabricator.wikimedia.org/T319070#8284272
	margin-left: -1px;
}

.mixin-vector-dropdown-menu-item() {
	min-height: @height-dropdown-menu-item;
	display: flex;
	align-items: center;
	padding: @padding-dropdown-menu-item;

	&:visited {
		color: @color-link;
	}

	&.selected a,
	&.selected a:visited {
		color: @color-link-selected;
	}
}
