/**
 * Less mixins shared between both legacy and Vector 2022.
 */

// Defines the arrow beside dropdown headings.
.mixin-vector-menu-heading-arrow() {
	content: '';
	background: url( ../common/images/arrow-down.svg ) 100% 50% no-repeat;
	width: unit( 16 / @font-size-tabs / @font-size-browser, em );
	height: unit( 16 / @font-size-tabs / @font-size-browser, em );
	// https://phabricator.wikimedia.org/T319070#8284272
	margin-left: -1px;
}

.mixin-vector-dropdown-menu-item() {
	//NOTE: using px instead of em's due to difference in font-size
	// across dropdowns (i.e tabs 13px vs. personal menu 14px).
	min-height: 32px;
	display: flex;
	align-items: center;
	padding: 0 12px;

	&:visited {
		color: @color-link;
	}

	&.selected a,
	&.selected a:visited {
		color: @color-link-selected;
	}
}

// Copied from mediawiki.ui.icons
// (Ifccaadabd72a12814d3d4d01200931f7254c6cd5)
// but converted to px to match `mw-ui-button`
@icon-padding-md: 12px;
// Copied from mediawiki.ui.icons,
// (Ifccaadabd72a12814d3d4d01200931f7254c6cd5)
// but converted to px to match `mw-ui-button`
@icon-padding-md-next: 5px;

.mixin-vector-flush-right-margin-left() {
	margin-left: @icon-padding-md;

	.vector-feature-visual-enhancement-next-enabled & {
		margin-left: @icon-padding-md-next;
	}
}

.mixin-vector-flush-left-margin-left() {
	margin-left: -@icon-padding-md;

	.vector-feature-visual-enhancement-next-enabled & {
		margin-left: -@icon-padding-md-next;
	}
}

.mixin-vector-flush-right-margin-right() {
	margin-right: -@icon-padding-md;

	.vector-feature-visual-enhancement-next-enabled & {
		margin-right: -@icon-padding-md-next;
	}
}

.mixin-vector-flush-left-left() {
	left: -@icon-padding-md;

	.vector-feature-visual-enhancement-next-enabled & {
		left: -@icon-padding-md-next;
	}
}
