{{!
	See @typedef MenuDefinition
}}
{{! this template must be used with Dropdown/Close to avoid unclosed HTML tags }}
<div id="{{id}}" class="vector-menu vector-menu-dropdown{{#class}} {{.}}{{/class}}" {{{html-tooltip}}} {{{html-user-language-attributes}}}>
	{{!
		Dropdown menus use the checkbox hack and require `input` and `label` elements.
		`aria-label` is applied to the `input` which is semantically a button.
		The `label` element is used as a visual button.
	}}
	<input type="checkbox"
		id="{{id}}-checkbox"
		role="button"
		aria-haspopup="true"
		data-event-name="ui.dropdown-{{id}}"
		class="vector-menu-checkbox{{#checkbox-class}} {{.}}{{/checkbox-class}}"
		{{#aria-label}}aria-label="{{.}}"{{/aria-label}}
		{{{html-vector-menu-checkbox-attributes}}}
	/>
	<label
		id="{{id}}-label"
		for="{{id}}-checkbox"
		class="vector-menu-heading{{#heading-class}} {{.}}{{/heading-class}}"
		{{{html-vector-menu-heading-attributes}}}
	>
		{{{html-vector-heading-icon}}}<span class="vector-menu-heading-label">{{label}}</span>
	</label>
	<div class="vector-menu-content">

