@import '../../variables.less';

/* Logo */
#p-logo {
	width: 10em;
	height: 160px;

	a {
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		width: 10em;
		height: 160px;
		text-decoration: none;
	}
}

/* Panel */
#mw-panel {
	font-size: @font-size-nav-main;

	.portal-first,
	/* FIXME: For caching. Can be removed in a week from the git blame commit id of this line. */
	#p-logo + .portal {
		background-image: none;
		margin-top: 1em;

		h3 {
			display: none;
		}

		.body {
			background-image: none;
			margin-left: @margin-start-nav-main-body;
		}
	}
}
